@page
@model SimplzFamilyTree.Pages.Persons.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.PersonId" />
            <input type="hidden" asp-for="Father.PersonRelationId" />
            <input type="hidden" asp-for="Father.Relation" />
            <input type="hidden" asp-for="Mother.PersonRelationId" />
            <input type="hidden" asp-for="Mother.Relation" />
            <input type="hidden" asp-for="Spouse.PersonRelationId" />
            <input type="hidden" asp-for="Spouse.Relation" />
            <input type="hidden" asp-for="PersonEvent.PersonId" />
            <input type="hidden" asp-for="PersonEvent.PersonEventId" />
            <div class="form-group">
                <label asp-for="Person.FullName" class="control-label"></label>
                <input asp-for="Person.FullName" class="form-control" />
                <span asp-validation-for="Person.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Nickname" class="control-label"></label>
                <input asp-for="Person.Nickname" class="form-control" />
                <span asp-validation-for="Person.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DoB" class="control-label"></label>
                <input asp-for="Person.DoB" class="form-control" />
                <span asp-validation-for="Person.DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DoD" class="control-label"></label>
                <input asp-for="Person.DoD" class="form-control" />
                <span asp-validation-for="Person.DoD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.EMail" class="control-label"></label>
                <input asp-for="Person.EMail" class="form-control" />
                <span asp-validation-for="Person.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Father.RelatedPersonId" class="control-label">Father</label>
                <select class="form-control basicAutoSelect"
                        asp-for="Father.RelatedPersonId"
                        placeholder="@Model.FatherName"
                        data-noresults-text="Nothing to see here."
                        data-url="/api/People" autocomplete="off"></select>
            </div>
            <div class="form-group">
                <label asp-for="Mother.RelatedPersonId" class="control-label">Mother</label>
                <select class="form-control basicAutoSelect"
                        asp-for="Mother.RelatedPersonId"
                        placeholder="@Model.MotherName"
                        data-noresults-text="Nothing to see here."
                        data-url="/api/People" autocomplete="off"></select>
            </div>
            <div class="form-group">
                <label asp-for="Spouse.RelatedPersonId" class="control-label">Spouse</label>
                <select class="form-control basicAutoSelect"
                        asp-for="Spouse.RelatedPersonId"
                        placeholder="@Model.SpouseName"
                        data-noresults-text="Nothing to see here."
                        data-url="/api/People" autocomplete="off"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonEvent.Description" class="control-label"></label>
                <input asp-for="PersonEvent.Description" class="form-control" />
                <span asp-validation-for="PersonEvent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <img src="data:image;base64,@Model.Image" />
                <input type="file" asp-for="Upload" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('.basicAutoSelect').autoComplete();
    });
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
