@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>ToDo</h1>
<ul>
    <li>Family concept</li>
    <li>Family Permissions</li>
    <li>Domain</li>
</ul>
<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Tree" asp-route-PersonId="28">Zachariades Tree</a>
    </li>
</ul>